
body {}

body * {
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

/* Colors: 
	 #1a1334	#26294a	#01545a	#017351	#03c383	#aad962	
	 #fbbf45	#ef6a32 	#ed0345	#a12a5e	#710162	#110141 */

body .color_0 {
	background-color: #ed0345 !important;
	color: #eee;
}

body .color_1 {
	background-color: #fbbf45 !important;
}

body .color_2 {
	background-color: #aad962 !important;
}

body .color_3 {
	background-color: #01545a !important;
	color: #eee;
}

body .color_4 {
	background-color: #26294a !important;
	color:#eee;
}

body .color_5 {
	background-color: #017351 !important;
	color: #eee;
}

body .color_6 {
	background-color: #ed7282 !important;
	color:#eee;
}

body .color_7 {
	background-color: #710162 !important;
	color: #eee;
}


.pure-button-active, body .color_0 .team_0, body .color_1 .team_1, body .color_2 .team_2, body .color_3 .team_3, body .color_4 .team_4, body .color_5 .team_5, body .color_6 .team_6, body .color_7 .team_7 {
	font-style: italic;
	font-weight: 700;
	text-decoration: underline;
}

.clearafter:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearafter {
	zoom:1;
}

#bracket {text-align: center; margin: 0 auto;}

#bracket .week {
	display: block;
	float: left;
	position: relative;
	width: 350px;
	border-bottom: 1px solid #cbcbcb;
}

#bracket .header {
	background: #e0e0e0;
	color: #000;
	line-height: 2em;
	width: 350px;
	border-left: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
}

#bracket .match {
	display: table;
	height: 80px;
	width: 100%;
	margin: auto auto;
	position: relative;
	border-left: 1px solid #cbcbcb; 
	border-bottom: 1px solid #cbcbcb;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#bracket #week-7 .header, #bracket #week-7 .match {border-right: 1px solid #cbcbcb;}

#bracket .match:after {
	background: url(http://na.lolesports.com/profiles/wpp_pro_profile/themes/custom/hotshot/images/head-to-head-icons-sc45de18b35.png) 0 -403px;
	content: '';
	height: 34px;
	width: 32px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 4;
}

#bracket .match:nth-child(2n-1) {
	background-color: #f2f2f2;
}

#bracket .team {
	display: table-cell;
	height: 48px;
	width: 50%;
	padding: 0 22px;
	position: relative;
	vertical-align: middle;
	z-index: 3;
}

#bracket .right {border-left: 1px solid rgb(196,146,70);}

#bracket .winner.left {background-image: radial-gradient(90% 90% at center right, hsla(47, 94%, 50%, 0.4) 0%,hsla(47, 94%, 50%, 0) 100%); border-right: 1px solid #c49246;}
#bracket .winner.right {background-image: radial-gradient(90% 90% at center left, hsla(47, 94%, 50%, 0.4) 0%,hsla(47, 94%, 50%, 0) 100%); border-left: 1px solid #c49246;}
#bracket .winner + .right {border-left: none;}

#highlighters {
	padding: 12px 50px 0;
	text-align: justify;
}

#highlighters a {
	display:inline-block;
}

#highlighters a.pure-button-active {
	font-weight: 700;
}

#highlighters:after {
	content: '';
	display: inline-block;
	width: 100%;
}
